<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset - VIGNIQ</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f7f7f7;">

    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0"">
        <tr>
            <td align="center" valign="top" style="padding: 5px;">
                <table width="480" cellpadding="0" cellspacing="0" border="0" style="background: #fff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.07); border-style: solid; border-width: 0.1px; border-color: #cecacaaa;">
                    <tr>
                        <td>
                            <!-- Header -->
                            <div style="background-color: #007BFF; padding: 20px 0; text-align: center; border-radius: 8px 8px 0 0;">
                                <h1 style="color: white; margin: 0;">VIGNIQ</h1>
                            </div>

                            <!-- Body -->
                            <div style="padding: 32px 32px 16px 32px; ">
                                <p>Hi <strong>{{ user_name }}</strong>,</p>
                                <p>We received a request to reset your password for your <strong>VIGNIQ</strong> account.</p>
                                <p style="margin-bottom: 30px;">To reset your password, please find the otp below:</p>
                                <p>
                                    <span style="font-size: 18px; font-weight: bold; padding-right: 2px;">OTP:</span> <span style="font-size: 18px; font-weight: bold; color: #007BFF; padding-right: 2px;">{{ otp }}</span> <span style="font-size: 14px;">(Valid for 5 minutes)</span>
                                </p>
                                <p style="margin-top: 30px;">If you did not request a password reset, please ignore this email or contact our support team.</p>
                                <p>Thank you,<br>
                                The VIGNIQ Team</p>
                            </div>

                            <!-- Footer -->
                            <div style="padding: 20px; text-align: center; color: #aaa; font-size: 12px; border-radius: 0 0 8px 8px;">
                                &copy; {{ year }} VIGNIQ. All rights reserved.
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>